<div class="changeAccount">
  <div class="title">
    <h3>Change account settings</h3>
    <p>Here you can change all your account settings</p>
  </div>
  <div class="profileImage">
    <div>
      <img src="assets/img/profilePics/geert.jpg" alt="">
    </div>

    <button>Upload New Photo</button>
  </div>
  <div class="profileDetails">
    <div class="formInput">
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>
    <div class="formInput">
      <label for="currentPass">Current Password</label>
      <input type="text" name="currentPass">
    </div>
    <div class="formInput">
      <label for="newPass">New Password</label>
      <input type="text" name="newPass">
    </div>



  </div>
  <div class="profileFooter">
    <button>Save Changes</button>
    <p>Do you want to remove your account? <span>Delete account</span></p>
  </div>
</div>
