<div class="activiteit">
  <div>
    <div class="afbeelding"><img src="/assets/img/TODI4.jpg" alt="Todi"></div>
    <div (click)="favo()" [ngClass]="statusClass" class="like"><img src="/assets/img/Hart.svg" alt="hart">
    </div>
  </div>
  <div>
    <div class="titel">De onderwaterwereld van Todi Beringen</div>

    <div class="tekst">Als je denkt aan duiken, dan droom je meestal van kleurrijke fauna en flora en een overvloed aan
      speciale vissen. Toch? Dat bestaat nu ook in België. TODI
      creëerde in
      Beringen een unieke ervaring waarbij bezoekers actief en emotioneel betrokken raken. Kortom, de ultieme
      duikbeleving!
    </div>

    <div class="tagline">
      <div class="tag"> Family</div>
      <div class="tag"> Belgie</div>
      <div class="tag"> Indoor</div>
      <div class="tag"> Adventure</div>

      <!-- <div (click)="veranderKleur()" [ngClass]="statusClass">LIKE</div> -->
    </div>

  </div>
</div>


<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/fietsenWater2.jpg" alt="Fietsen"></div>
  <div>
    <div class="titel">Fietsen door het water</div>
    <div class="tekst">Een unieke fietsbeleving waarbij je meer dan 200 meter dwars door
      een
      vijver fietst. In het midden staat het
      water aan weerszijden op ooghoogte. Je voelt, ziet en ruikt het water. Een mooi en uniek zicht over dit stukje
      natuur. Ook al heet het 'Fietsen door het Water', het pad is toegankelijk voor wandelaars en joggers.
    </div>
    <div class="tagline">
      <div class="tag"> Family</div>
      <div class="tag"> Belgie</div>
      <div class="tag"> Outdoor</div>
      <div class="tag"> Adventure</div>
    </div>
  </div>


</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/via ferrata.jpg" alt="ViaFerrata"></div>
  <div class="tekst"><b>Via ferrata</b> is een term uit het alpinisme. Van oorsprong Italiaans betekent het "ijzeren
    weg" en
    geeft daarmee al meteen een goede definitie van het begrip. Een via ferrata is namelijk een met staalkabels uitgezet
    parcours langs een rotswand. Bij een Via Ferrata kom je vaak op de mooiste plekjes met de mooiste uitzichten. Het
    Gardameer in het Noorden van Italie is dan ook een uitstekende plaats om deze uitzichten op een avontuurlijke manier
    op te zoeken.
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/skydive.jpg" alt="Skydive"></div>
  <div class="tekst"><b>Indoor skydiven</b> doe je in een zogenoemde verticale windtunnel. In de windtunnel wordt de
    vrije val
    bij het parachutespringen nagebootst. Daarbij beweegt de lucht van beneden naar boven met snelheden die variëren van
    0 tot en met 250 kilometer per uur. Voor mensen is het dus mogelijk om veilig in een verticale windtunnel te vliegen
    zonder daarvoor gebruik te hoeven maken van een vliegtuig of een parachute.
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/blotevoetenpad2.jpg" alt="Blote Voeten"></div>
  <div class="tekst">Heb je altijd al willen weten hoe het voelt om op blote voeten in de vrije natuur rond te lopen?
    Kom dan het <b>blotevoetenpad</b> ontdekken en ervaar het ultieme gevoel van vrijheid. Zet al je zintuigen en beide
    voeten
    in om de bijzondere prikkels van hout, stenen, boomsnippers, gras, leem en water waar te nemen op een zorgvuldig
    samengesteld parcours. Koud en warm, vochtig en droog, aangenaam en prikkelend wisselen elkaar af tijdens een route
    van bijna 3 km lang, die enkel toegankelijk is op blote voeten.
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/rafting.jpg" alt="Rafting"></div>
  <div class="tekst"><b>Raften</b> is een sensationele activiteit waarbij u met een raft de rivier gaat bedwingen.
    In de Ardennen wordt deze tak van sport vooral op de Ourthe beoefendDit is een rivier van klasse I. Dit houdt in dat
    de rivieren uitermate geschikt zijn voor beginners.

    Samen met een professionele begeleider gaat u de rivier op en ontdekt u de verschillende moeilijkheidsgraden van
    rafting. Gegarandeerd een geweldige dag vol avontuur!

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/bobbejaanland.jpg" alt="Bobbejaanland"></div>
  <div class="tekst"><b>Bobbejaanland</b> is een pretpark in Lichtaart, gelegen tussen Herentals en Kasterlee in België,
    en is
    genoemd naar zijn oprichter Bobbejaan Schoepen.

    Met tal van attracties plezier verzekerd voor jong en oud!

    Tags: Attractiepark, Belgie, outdoor, family, adventure

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/gardaland.jpg" alt="Gardaland"></div>
  <div class="tekst"><b>Gardaland</b> is een attractiepark bij Castelnuovo del Garda aan het Gardameer in Italië. Het
    werd
    geopend in juli 1975 en is sindsdien, met meer dan 2,5 miljoen bezoekers per jaar, uitgegroeid tot het grootste en
    populairste attractiepark in Italië.
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/efteling.jpg" alt="Efteling"></div>
  <div class="tekst"><b>De Efteling</b> is een attractiepark en recreatiecomplex in Kaatsheuvel, Nederland. Naast het
    attractiepark omvat de hele Wereld van de Efteling een theater, twee hotels en twee vakantieparken.
    De Efteling is qua bezoekersaantallen en oppervlakte het grootste attractiepark van de Benelux.

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/disneyland.jpg" alt="Disneyland"></div>
  <div class="tekst"><b>Disneyland Paris</b> is een attractiepark- en recreatiecomplex in Marne-la-Vallée, een stad in
    de
    banlieue van de Franse hoofdstad Parijs. Disneyland Paris is het vierde Disney-resort ter wereld en bestaat uit
    diverse onderdelen: twee themaparken: Disneyland Park en het Walt Disney Studios Park, het uitgaansgebied Disney
    Village, een golfresort, zes Disney Hotels, twee Disney Nature Resorts en een aantal partner hotels. Jaarlijks heeft
    Disneyland Paris het hoogste bezoekersaantal onder de attractieparken in Europa.
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/Chocolate.jpg" alt="Chocolade"></div>
  <div class="tekst">Zodra je de deur opent bij <b>Chocolate Nation</b> komt de chocoladegeur je al tegemoet. In dit
    chocolademuseum bevinden zich namelijk ook meerdere ateliers waar je kan zien hoe ze Belgische chocola maken. Via
    een ruimte als een schip, waar je over de reling kijkend kan zien hoe
    de cacaoboon wordt geoogst en naar de haven van Antwerpen reist, kom je bij een enorme chocolademachine. Daar voel
    je je even Sjakie uit de chocoladefabriek. Daarna leiden een geheimzinnig straatje met prachtige afbeeldingen in de
    etalages en een historisch chocoladewinkeltje je naar tien chocoladefonteinen. Allemaal met een andere smaak. Dat
    wordt proeven!
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/van Gogh.jpg" alt="Van Gogh"></div>
  <div class="tekst">Het <b>Van Gogh Museum</b> is een aan de Nederlandse kunstschilder Vincent van Gogh gewijd museum
    in
    Amsterdam.
    De verzameling bevat ruim tweehonderd schilderijen, vijfhonderd tekeningen en zevenhonderd brieven van Vincent van
    Gogh, alsmede diens verzameling Japanse prenten, en de bibliotheek omvat meer dan 23.000 titels.

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/louvre.jpg" alt="Louvre"></div>
  <div class="tekst"><b>Het Louvre</b> is een van 's werelds grootste musea en ligt in de Franse hoofdstad Parijs.
    De Mona Lisa van Leonardo da Vinci is waarschijnlijk het beroemdste stuk uit de collectie van het Louvre. Het museum
    maakt deel uit van de Réunion des musées nationaux et du Grand Palais des Champs-Élysées. Het is sinds jaren 's
    werelds best bezochte museum.

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/colosseum.jpg" alt="Colosseum"></div>
  <div class="tekst">Het Flavisch Amfitheater, beter bekend als het <b>Colosseum</b> in Rome, was het grootste
    amfitheater in
    het Romeinse Rijk.
    Het Colosseum was geheel bedoeld voor de spelen die werden georganiseerd en gefinancierd door de heersende keizer.
    Hoewel het Colosseum niet meer de oorspronkelijke afmetingen heeft, is het nog steeds een imposant geheel en trekt
    het dagelijks duizenden toeristen. In de moderne tijd is een gedeelte van de houten arenavloer weer aangebracht.

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/torbole.jpeg" alt="Gardameer"></div>
  <div class="tekst"><b>Het Gardameer</b> (Italiaans: Lago di Garda) is het grootste meer van Italië. Het heeft een
    oppervlakte
    van 369,98 km². Het landschap heeft een schilderachtig karakter door het diepblauwe water, de citroenbomen en de
    cipressen.
    Het azuurblauwe water van het Lago di Garda is ideaal voor windsurfen, zeilen en andere watersporten. In de omgeving
    kun je ook mooi wandelen en mountainbiken.

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/Santa Giulia.jpg" alt="Santa Giulia"></div>
  <div class="tekst">Het Ile de Beauté grossiert in paradijselijke baaien en inhammen. Behalve de schitterende stranden
    van Rondinara en Pallombaggia mag je ook de beroemde <b>baai van Santa Giulia</b> niet missen! Gelegen aan de voet
    van een
    berghelling met kilometers fijn zand en kristalhelder water. Dat bovendien niet diep is, dus ideaal
    voor kinderen en om te snorkelen!
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/smaak.jpg" alt="Smaak"></div>
  <div class="tekst"><b>SMA(A)K</b>, da’s veel meer dan overheerlijk streetfood van foodtrucks die uit alle windhoeken
    komen
    gerold. Het is een belevingsfestival met gezellige zithoeken, sfeerdecoratie, swingende beats, theater, live muziek,
    de leukste animatie voor klein en groter.
    Hét hoofdingrediënt? Beleving die áltijd naar meer smaakt. SMA(A)K is een droomwereld waar iederéén zijn goesting
    vindt

  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/pizzafest2.jpg" alt="Pizzafest"></div>
  <div class="tekst">Zin in Pizza? Dan is <b>Pizzafest</b> in Napels the place to be! Hier verzamelen de inwoners zich
    ieder
    jaar om meer dan 100.000 pizzas te maken en te delen met alle pizza lovers van Italie en ver daar buiten. Ga je voor
    een Margherita, een Marinara of een Napoletana? Alles kan! Behalve ananas, scusa!!
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/omelet.jpg" alt="Omelet"></div>
  <div class="tekst">Hou je van <b>omelet</b> als ontbijt? Volgens de legende, heeft Napoleon ooit alle eieren in de
    stad
    besteld om een grote omelet mee te maken. Deze traditie vieren ze nog steeds in de stad Bessières in Frankrijk.
    Klaar voor een omelet van meer dan 15.000 eitjes?
  </div>
</div>
<div class="activiteit">
  <div class="afbeelding"><img src="/assets/img/trek.jpg" alt="Trek"></div>
  <div class="tekst"><b>Festival TREK</b> is het grootste rondreizende foodfestival van Nederland.
    De stadsparken worden omgetoverd tot een groot openluchtrestaurant, waar je kunt genieten van verrassend
    entertainment van jonge theatermakers, kleinkunst- en muzikaal talent gecombineerd met een divers aanbod gerechtjes
    dat met liefde bereid wordt in de mooiste mobiele keukens.

  </div>
</div>
