<div class="personalPage">
  <div class="profileHeader">
    <img src="assets/img/profilePics/geert.jpg" alt="personal pic">
    <div class="profileHeaderTitle">
      <h5>{{userName}}</h5>
      <p>{{userEmail}}</p>
    </div>
  </div>
  <div class="profileNavigation">
    <!-- <a routerlink="">Favorites</a> -->
    <a (click)="goToInterests()">Interests</a>
    <a (click)="goToSuggestions()">Suggestions</a>
    <a href="http://127.0.0.1:8000/index">To admin dashboard</a>
    <!-- <a routerlink="">My Trips</a> -->
  </div>
</div>
<div class="profileContent">

  <app-suggestions *ngIf="suggestions"></app-suggestions>


  <app-interests *ngIf="interests"></app-interests>


  <!-- <app-trips></app-trips> -->


  <!-- <div class="noContent">
    <div>
      <p>There is nothing in your favorites.</p>
      <p><span class="blue">Begin to explore trips </span>and save your favorites...</p>
    </div>

  </div> -->
</div>
