<div class="personalPage">
  <div class="profileHeader">
    <img src="assets/img/profilePics/geert.jpg" alt="personal pic">
    <div class="profileHeaderTitle">
      <h5>{{userName}}</h5>
      <p>{{userEmail}}</p>
    </div>
  </div>
  <div class="profileNavigation">
    <a [ngClass]="{'linkActive': active1 === true }" (click)="goToInterests()">Interests</a>
    <a [ngClass]="{'linkActive': active2 === true }" (click)="goToSuggestions()">Suggestions</a>
    <a *ngIf="admin" href="http://127.0.0.1:8000/index">To admin dashboard</a>
  </div>
</div>
<div class="profileContent">

  <app-suggestions *ngIf="suggestions"></app-suggestions>


  <app-interests *ngIf="interests"></app-interests>

</div>
