<div class="footer">
  <div class="footerTitel">
    <p>Create your profile and</p>
    <p>get personal trip</p>
    <p>suggestions</p>
  </div>
  <div class="footerVierkanten">
    <div class="vierkant">
      <img src="assets\img\interests.svg" alt="interesses logo">
      <p>CHOOSE YOUR INTERESTS</p>
    </div>
    <div class="vierkant">
      <img src="assets\img\destinations.svg" alt="destinations logo">
      <p>DISCOVER DESTINATIONS</p>
    </div>
    <div class="vierkant">
      <img src="assets\img\list.svg" alt="list logo">
      <p>MAKE YOUR BUCKETLIST</p>
    </div>
  </div>
  <div class="footerButton">
    <button (click)="register()">CREATE PROFILE</button>
  </div>
</div>
