.navBar {
   display: none;
}

.shadow {
   box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.25);
}

.navItemsMobile {
   display: flex;
   flex-direction: column;
   text-align: left;
   justify-content:flex-end;
   width: 203px;
   min-height: 198px;
   background: #303030;
   opacity: 0.8;
   box-shadow: -5px 5px 0px #24B9E9;
   padding-left: 25px;
   padding-bottom: 40px;
   position: absolute;
   margin: 0;
   right: 0px;
   top: 0px;
}

.navBarMobile {
   display: flex;
   flex-direction: row;
   
   justify-content: space-between;
   padding: 15px 30px 15px 30px;
}

.logoMobile {
   width: 150px;
}

.menuHamburgerOpen {
   color: white;
}

.navItemsMobile img {
   width: 34px;
   color: white;
   margin-right: 30px;
   align-self:flex-end;
   justify-self: center;
}

a {
   text-decoration: none;
   color: white;
   font-size: 16px;
   font-weight: 400;
   margin-top: 30px;
}

.blauwTrip {
   color: #24B9E9;
}



@media only screen and (min-width: 1080px) {

.navBarMobile {
   display: none;
}

.navBarPersonal {
   display: none;
   position: absolute;
   background: #303030;
   opacity: 0.8;
   box-shadow: 5px 5px 0px #24B9E9;
   padding: 10px 20px;
}

.menuItem:hover .navBarPersonal {
   display: block;
}


a {
   text-decoration: none;
   color: black;
   
   font-size: 16px;
   font-weight: 400;
}

.menuItem {
   margin-left: 100px;
}

a:hover {
   font-weight: bold;
}




.navBar {
   width: auto;
   display: flex;
   justify-content:space-around;
   flex-direction: row;
   padding-bottom: 10px;
   /* border: 1px solid black; */
}

.navItems {
   padding-bottom: 5px;
   align-items: flex-end;
   justify-self: center;
   display: flex;
   flex-direction: row;
}

.blauwTrip {
   color: #24B9E9;

}

.menuHamburger {
   display: none;
}

.menuHamburgerOpen {
   display: none;
}



.navBarPersonal p {
   color: white;
}

.navBarPersonal p:hover {
   color: white;
   font-weight: bold;
}

}