.registrationTitle h3 {
   margin-top: 0;
   margin-bottom: 0;
   font-style: normal;
   font-weight: 800;
   font-size: 36px;
   line-height: 43px;
   color: #303030;
}

.registrationTitle p {
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: #303030;
}

form {
   display: flex;
   flex-direction: column;
}

label {
   font-style: normal;
   font-weight: 600;
   font-size: 14.3355px;
   line-height: 17px;
   color: #303030;
   margin-bottom: 12px;
}

.registrationForm {
   margin-top: 70px;
}

input {
   height: 44px;
   /* width: 223px; */
}

.button {
   margin-top: 40px;
   width: 181px;
   height: 47px;
   background: #24B9E9;
   border-radius: 7px;
   border-style: none;
   font-style: normal;
   font-weight: bold;
   font-size: 14.5338px;
   line-height: 18px;
   text-align: center;
   color: #FFFFFF;
}

a {
   color: #24B9E9;
}

.formInput {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.registrationFooter {
   font-size: 13px;
}

@media only screen and (min-width: 1080px) {

form {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.formEmail {
   margin-left: 40px;
   width: 223px;
}

.formName {
   width: 223px;
}

.formPassword {
   width: 493px;
   margin-top: 20px;
}

.registrationFooter {
   font-size: 16px;
}

}