<div class="mainFilter">
  <div class="filterTekst">
    <p>Choose a category and</p>
    <p>explore inspiring trips</p>
  </div>
  <div class="filterItems">
    <div class="filterAdventure filterBox">
      <p>Adventure</p>
    </div>
    <div class="filterFamily filterBox">
      <p>Family</p>
    </div>
    <div class="filterFoodie filterBox">
      <p>Foodie</p>
    </div>
    <div class="filterArtCulture filterBox">
      <p>Art & Culture</p>
    </div>
    <div class="filterBeaches filterBox">
      <p>Beaches</p>
    </div>
    <div class="filterMore filterBox">
      <p>More..</p>
    </div>
  </div>
</div>
