.hero {
   background-image: url("../../assets/img/heroBGmobile.jpg");
   height: 595px;
}

.heroTitle {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 30px;
}

h3 {
   font-family: Inter;
   font-weight: 800;
   font-size: 35px;
   text-align: center;
   background-color: white;
   padding: 10px;
   width: fit-content;
   margin-bottom: 5px;
   margin-top: 5px;
   font-style: normal;
   line-height: 42px;
   letter-spacing: -0.01em;
   color: var(--secondary-color);
}

.heroSub {
   margin-top: 30px;
}


h6 {
   margin: 0;
   font-family: Inter;
   font-style: normal;
   font-weight: 800;
   font-size: 19px;
   line-height: 23px;
   text-align: center;
   color: var( --text-color-light);
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.heroButton {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
}

button {
   width: 218px;
   height: 54px;
   background-color: var(--primary-color-blue);
   border-radius: 100px;
   color: white;
   border-style: none;
   font-family: Inter;
   font-style: normal;
   font-weight: 300;
   font-size: 22px;
   line-height: 27px;
   text-align: center;
   cursor: pointer;

}

@media only screen and (min-width: 1080px) {

.hero {
   background-image: url("../../assets/img/heroBG.jpg");
   height: 584px;
}

.heroTitle {
   padding-top: 130px;
}

h3 {
   font-size: 40px;
   line-height: 48px;
}

h6 {
   font-size: 24px;
   line-height: 29px;
}


}