<div>
  <div class="loginTitle">
    <h3>Login</h3>
    <p>Welcome back! Sign in to continue with your personalised experience</p>
  </div>
</div>
<div class="loginForm">

  <form [formGroup]="loginFormulier">

    <div class="loginEmail formInput">
      <label for="login">E-mail</label>
      <input type="text" name="login" id="login" required formControlName="login">
    </div>

    <div class="loginPassword formInput">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required formControlName="password">
    </div>

    <input type="button" value="Sign in" (click)="submitForm()" class="button">

  </form>
</div>

<div class="loginFooter">
  <p>Not have any account yet? <a routerlink="">Sign up</a></p>
</div>



<!-- <p *ngIf="ready">{{apiLogin.login}}</p> -->

<a *ngIf="loginCorrect" routerLink="personalPage"><button>Page</button></a>

<router-outlet></router-outlet>
