.loginTitle h3 {
   margin-top: 0;
   margin-bottom: 0;
   font-style: normal;
   font-weight: 800;
   font-size: 36px;
   line-height: 43px;
   color: var(--secondary-color);
}

.loginTitle p {
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: var(--secondary-color);
}

form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

label {
   font-style: normal;
   font-weight: 600;
   font-size: 14.3355px;
   line-height: 17px;
   color: var(--secondary-color);
   margin-bottom: 12px;
}

.loginForm {
   margin-top: 50px;
}

input {
   height: 44px;
}

.button {
   margin-top: 20px;
   width: 181px;
   height: 47px;
   background: var(--primary-color-blue);
   border-radius: 7px;
   border-style: none;
   font-style: normal;
   font-weight: bold;
   font-size: 14.5338px;
   line-height: 18px;
   text-align: center;
   color: #FFFFFF;
   cursor: pointer;
}

.formInput {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

a {
   color: var(--primary-color-blue);
}

.loginPassword {
   margin-top: 20px;
}