<div>
  <div class="loginTitle">
    <h3>Login</h3>
    <p>Welcome back! Sign in to continue with your personalised experience</p>
  </div>
</div>
<div class="loginForm">

  <form [formGroup]="loginFormulier">

    <div class="loginEmail formInput">
      <label for="Lemail">E-mail</label>
      <input type="text" name="Lemail" id="Lemail" required formControlName="Lemail">
    </div>

    <div class="loginPassword formInput">
      <label for="Lpassword">Password</label>
      <input type="password" name="Lpassword" id="Lpassword" required formControlName="Lpassword">
    </div>

    <input type="button" value="Sign in" (click)="submitForm()" class="button">

  </form>
</div>

<div class="loginFooter">
  <p>Not have any account yet? <a (click)="goToRegister()">Sign up</a></p>
</div>
